# ==================================
#  Environnement Virtuel Python
# ==================================
env/

# ==================================
#  Fichiers de Cache et Bytecode Python
# ==================================
__pycache__/